.lostPanel{

}

.inputDiv{
  display: flex;
  justify-content:center;
  gap: 50px;
  border : 2px solid gray;
  border-radius : 10px;
  width : fit-content;
  padding : 2rem 1rem;
  margin : 0 auto;
  margin-bottom : 8rem;
}